/*ERRORE*/
.error-container { /*sezione che contiene l'errore*/
    margin: 10vh auto;
    text-align: center;
    padding-bottom: 350px;
}

#back-home {
    text-decoration: none;
}

#tornaHome {
    background-color: rgb(149, 206, 163);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    border-radius: 40px;
    margin: 4vh 80px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 2px 2px 4px;
}

@media screen and (max-width: 418px) {
    h1 {
        font-size: 6vw;
    }

    #back-home {
        font-size: 6vw;
    }
}

/*HEADER*/
html,body { /*feature generiche*/
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /*il sito si estende verticalmente, non orizzontalmente*/
}

body { /*serve per abbassare il body in modo tale che appaia sempre sotto l'header*/
    padding-top: 71px;
    font-family: 'Goudy Old Style', serif;
}

#lang-menu { /*per avere il menù piccolo*/
    min-width: inherit;
}

#titolo /*scritta titolo*/
{
    color:rgb(0, 0, 0);
}

#navbar { /*margini header*/
    min-width: 100%;
    padding: 0;
    margin: auto;
}

#upper-nav { /*barra con logo e nome*/
    background-color: rgb(149, 206, 163);
    height: 70px;
}

#navbarDropdownMenu { /*menù switch italiano-inglese*/
    color: #000000;
}

#logae { /*grandezza logo nell'header*/
    width: 5vw;
    height: auto;
    min-width: 20px;
    max-width: 50px;
}

/*FOOTER*/
section { /*per footer giù con zoom al 100%*/
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 100px;
}

footer { /*feature della prima porzione di footer*/
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0;
    min-height: 300px; /*100%;*/
    background-color: rgb(41, 39, 39);
}

#about { /*Allineamento delle scritte di about*/
    text-align: center;
}

#developers { /*Allineamento delle scritte dei developers*/
    text-align: center;
}

#footer-grid { /*feature della seconda porzione di footer*/
    background-color: rgb(41, 39, 39);
}

#copyright { /*feature della terza porzione di footer*/
    background-color: rgb(41, 39, 39);
    padding-top: 60px;
}

#favi { /*grandezza favicon nel footer*/
    width:  2.5vw;
    height: auto;
    min-width: 20px;
    max-width: 40px;
}