/*REGISTRAZIONE*/
/*campi testuali*/
input[type="text"] {
  border: none;
  border-bottom: 2px solid #000000;
  padding: 10px;
  width: 90%;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
}

input[type="text"]:focus {
  border-bottom-color: rgb(149, 206, 163);
}

.placeholder {
  position: relative;
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
  display: inline-block;
  z-index: 1;
}

.placeholder:before {
  content: attr(data-text);
  position: absolute;
  top: 35px;
  left: 0;
  opacity: 0.5;
  transition: all 0.3s ease;
}

input[type="text"]:focus + .placeholder:before,
input[type="text"]:not(:placeholder-shown) + .placeholder:before {
  top: 10px;
  opacity: 1;
}
/*fine campi testuali*/

#content { /*contenuto della form*/
  margin: 5vh auto;
  padding-bottom: 400px;
}

.form-signin { /*riquadro della form*/
  padding: 60px;
  border: 4px solid black;
  width: 650px;
  margin: 0 auto;
  border-radius: 10px;
  align-items: initial;
}

#register-button { /*bottone della registrazione*/
    background-color: rgb(149, 206, 163);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    border-radius: 40px;
    margin: 4vh 80px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 2px 2px 4px;
}

#end { /*scritta finale*/
  font: 12px 'Open Sans', sans-serif;
  color: rgb(197, 0, 0);
}

.error-msg { /*messaggi di errore*/
  font: 17px 'Open Sans', sans-serif;
  font-weight: bold;
  color: rgb(197, 0, 0);
  width: 60%;
  height: auto;
  border-radius: 5px;
  border: 3px solid rgb(197, 0, 0);
  text-align: center;
}

#descrizione { /*descrizione azienda*/
  resize: none;
  overflow: hidden;
  width: 90%;
}

#nazione { /*grandezza nazione*/
  width: 90%;
  height: 37px;
}

#curriculum { /*grandezza curriculum*/
  width: 90%;
  height: 37px;
}

#picture { /*grandezza foto*/
  width: 90%;
  height: 37px;
}

/*caricamento curriculum*/
.custom-file-upload {
  border: 1px solid #e5e5e5;
}

input[type=file]::file-selector-button {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  margin-right: 20px;
  transition: .5s;
}

input[type=file]::file-selector-button:hover {
  background-color: #eee;
  border: 0px;
  border-right: 1px solid #e5e5e5;
}
/*fine caricamento curriculum*/

/*HEADER*/
html,body { /*feature generiche*/
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /*il sito si estende verticalmente, non orizzontalmente*/
}

body { /*serve per abbassare il body in modo tale che appaia sempre sotto l'header*/
  padding-top: 71px;
  font-family: 'Goudy Old Style', serif;
}

#lang-menu { /*per avere il menù piccolo*/
  min-width: inherit;
}

#titolo /*scritta titolo*/
{
  color:rgb(0, 0, 0);
}

#navbar { /*margini header*/
  min-width: 100%;
  padding: 0;
  margin: auto;
}

#upper-nav { /*barra con logo e nome*/
  background-color: rgb(149, 206, 163);
  height: 70px;
}

#navbarDropdownMenu { /*menù switch italiano-inglese*/
  color: #000000;
}

#logae { /*grandezza logo nell'header*/
  width: 5vw;
  height: auto;
  min-width: 20px;
  max-width: 50px;
}

/*FOOTER*/
section { /*per footer giù con zoom al 100%*/
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 100px;
}

footer { /*feature della prima porzione di footer*/
  position: relative;
  left: 0;
  bottom: 0;
  margin: 0;
  min-height: 300px; /*100%;*/
  background-color: rgb(41, 39, 39);
}

#about { /*Allineamento delle scritte di about*/
  text-align: center;
}

#developers { /*Allineamento delle scritte dei developers*/
  text-align: center;
}

#footer-grid { /*feature della seconda porzione di footer*/
  background-color: rgb(41, 39, 39);
}

#copyright { /*feature della terza porzione di footer*/
  background-color: rgb(41, 39, 39);
  padding-top: 60px;
}

#favi { /*grandezza favicon nel footer*/
  width:  2.5vw;
  height: auto;
  min-width: 20px;
  max-width: 40px;
}