/*JOB OFFER*/
.form-signin {
    padding: 60px;
    border: 4px solid black;
    width: 550px;
    margin: 80px auto;
    border-radius: 10px;
    align-items: initial;
}

textarea {
    overflow: hidden;
    resize: none;
  }
  
.round-button {
    font: 14px;
    background-color: #c29436;
    color: white;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
  
input {
    font: 14px;
    border: 2px solid #ccc;
}

.form-field {
    width: 350px;
}
  
.form-control:focus {
    border-color: #c29436;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #c29436;
}
  
#end {
    font: 12px 'Open Sans', sans-serif;
    color: rgb(197, 0, 0);
}

#end {
  font: 12px 'Open Sans', sans-serif;
  color: rgb(197, 0, 0);
}

#fixed-bar {
    position: fixed;
    top: 0;
    width: 100%;
}
  
#errore{
    font: 17px 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(197, 0, 0);
    width: 100%;
    padding: 4px;
    height: auto;
    border-radius: 5px;
    border: 3px solid rgb(197, 0, 0);
}

@media screen and (max-width: 800px) {
    .form-signin {
      width: 500px;
    }
    .form-field {
      width: 300px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .form-signin {
      width: 400px;
    }
    .form-field {
      width: 250px;
    }
  }

  /*HEADER*/
  html,body { /*feature generiche*/
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /*il sito si estende verticalmente, non orizzontalmente*/
  }
  
  body { /*serve per abbassare il body in modo tale che appaia sempre sotto l'header*/
    padding-top: 71px;
    font-family: 'Goudy Old Style', serif;
  }
  
  #lang-menu { /*per avere il menù piccolo*/
    min-width: inherit;
  }
  
  #titolo /*scritta titolo*/
  {
    color:rgb(0, 0, 0);
  }
  
  #navbar { /*margini header*/
    min-width: 100%;
    padding: 0;
    margin: auto;
  }
  
  #upper-nav { /*barra con logo e nome*/
    background-color: rgb(149, 206, 163);
    height: 70px;
  }
  
  #navbarDropdownMenu { /*menù switch italiano-inglese*/
    color: #000000;
  }
  
  #logae { /*grandezza logo nell'header*/
    width: 5vw;
    height: auto;
    min-width: 20px;
    max-width: 50px;
  }
  
  /*FOOTER*/
  section { /*per footer giù con zoom al 100%*/
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 100px;
  }
  
  footer { /*feature della prima porzione di footer*/
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0;
    min-height: 300px; /*100%;*/
    background-color: rgb(41, 39, 39);
  }
  
  #about { /*Allineamento delle scritte di about*/
    text-align: center;
  }
  
  #developers { /*Allineamento delle scritte dei developers*/
    text-align: center;
  }
  
  #footer-grid { /*feature della seconda porzione di footer*/
    background-color: rgb(41, 39, 39);
  }
  
  #copyright { /*feature della terza porzione di footer*/
    background-color: rgb(41, 39, 39);
    padding-top: 60px;
  }
  
  #favi { /*grandezza favicon nel footer*/
    width:  2.5vw;
    height: auto;
    min-width: 20px;
    max-width: 40px;
  }